/* FOR THE CELS*/
td {
    height: 30px;
    width: 30px;
}

table {
    border-collapse: collapse;
}

.clickedBox {
    background-color: aquamarine;
}

/* td classes */
.cell {
    border: 1px solid rgb(138, 138, 221);
}

/*for SHIPS*/
/*cell after ship is dropped on it*/
.ship {
    border: 2px solid rgba(38,0,255,255);
    background-color: rgba(242,244,255,255);
}

.formerShip {
    border: 2px dotted rgb(105,105,105);
}

/* page layout*/
.padding {
    padding: 30px;
}

#gridArea {
    width: 50%;
    float: left;
}

#shipsArea {
    width: 50%;
    float: right;
}

/* BUTTONS*/
.unpressable {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;;
}

.pressable {
    
}
