td {
    height: 30px;
    width: 30px;
}

table {
    border-collapse: collapse;
}

.clickedBox {
    background-color: aquamarine;
}

/* td classes */
.cell {
    border: 1px solid rgb(138, 138, 221);
}

/*cell after ship is dropped on it*/
.ship {
    border: 2px solid rgba(38,0,255,255);
    background-color: rgba(242,244,255,255);
}

.formerShip {
    border: 2px dotted rgb(105,105,105);
}

.padding {
    padding: 30px;
}
